@charset "utf-8";
/*
 CSS Create by 2fellows
 org #f15c22
*/
html{ background: #000;}
body{
	font-family: 'DBHeaventv3_2';
	color:#7b7b7b;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	}
a,button{
	-moz-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -o-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     -webkit-transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
     transition: color .2s ease-in,background-color .2s ease-in, background-image .2s ease-in;
	 text-decoration:none;
	 cursor: pointer;
	 }
a:hover, a:focus {
	text-decoration:none;
	outline: 0;
	}
	.black-ribbon {
	  position: fixed;
	  z-index: 999999;
	  width: 70px;
	}
	@media only all and (min-width: 768px) {
	  .black-ribbon {
	    width: auto;
	  }
	}
	.stick-left { left: 0; }
	.stick-right { right: 0; }
	.stick-top { top: 0; }
	.stick-bottom { bottom: 0; }

	.admin-bar .stick-top { top: 46px; }
	@media screen and (min-width: 783px) {
	  .admin-bar .stick-top { top: 32px; }
	}
h1{ font-size:36px; line-height: 36px;}
h2{ font-size:30px; line-height: 30px;}
h3{ font-size:24px; line-height: 24px;}
h4{ font-size:18px;}
h5{ font-size:15px;}
.nopadding{
	padding:0;
	}
.nopaddingright{
	padding-right:0;
	}
.nopaddingleft{
	padding-left:0;
	}
.form-control {
    display: block;
    width: 100%;
    height: 32px;
    padding: 4px 12px;
    font-size:20px;
    line-height: 24px;
    color:#808A8E;
    background-color: #fff;
    background-image: none;
    border: 1px solid #DDDDDD;
    border-radius: 0;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
.form-control::-webkit-input-placeholder { color: #808A8E;}
.form-control:-moz-placeholder { /* Firefox 18- */ color: #808A8E;  }
.form-control::-moz-placeholder {  /* Firefox 19+ */ color:#808A8E;  }
.form-control:-ms-input-placeholder {  color: #808A8E;  }
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: thin dotted;
    outline:none;
    outline-offset:none;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.form-control:focus {
    border-color: none;
    outline: 0;
    -webkit-box-shadow:none;
    box-shadow:none;
	}
#footer2f{
	background-color: #3c3c3c;
	font-size: 18px;
	line-height: 20px;
	color: #b0b0b0;
	padding: 25px 0 25px 0;
	position: relative;
}
.footer-menu2f{
	margin-bottom:5px;
}
.footer-menu2f ul li a{
	color: #b0b0b0;
}
.footer-menu2f ul li a:hover,.footer-menu2f ul li#click_sitemap:hover{
	color: #f15c22;
	cursor: pointer;
}
.footer-menu2f ul li{
	background-image:url(../images/border-gray01.jpg);
	background-repeat:no-repeat;
	background-position:left 5px;
  padding-right: 3px;
}
.footer-menu2f ul li.first2f{
	background-image:none;
}
.footer-social2f ul{
	display: inline-block;
	list-style: none;
	}
.footer-social2f ul li{
	display: inline-block;
	padding-right:0;
  padding-left:0;
	}
.footer-social2f ul li a{
display:inline-block;
width:26px;
height:26px;
background-repeat:no-repeat;
background-position:center bottom;
}
.footer-social2f ul li a.i-channel{
	width: auto;
	height: 26px;
position: relative;
top: 12px;
margin-left: 5px;
}
.footer-social2f ul li a.i-channel img{
	height: 26px;
}
.footer-social2f ul li a.i-mail-foot{
background-image:url(../images/i-mail-footer.png);
}
.footer-social2f ul li a.i-mail-foot:hover{
background-image:url(../images/i-mail-footer-hover.png);
}

.footer-social2f ul li a.i-facebook{
background-image:url(../images/i-facebook.png);
}
.footer-social2f ul li a.i-facebook:hover{
background-image:url(../images/i-facebook-hover.png);
}
.footer-social2f ul li a.i-youtube{
	background-image:url(../images/i-youtube.png);
	}
.footer-social2f ul li a.i-youtube:hover{
	background-image:url(../images/i-youtube-hover.png);
	}
.footer-right2f{
	text-align: right;
}
.footer-state2f{
	position: absolute;
	right: 15px;
	bottom: -5px;
}
.footer-social2f{
	padding-right: 40px;
}
.top-logo2f{
	background-color: #f15c22;
	width: 120px;
	height: 125px;
	text-align: center;
	padding-top: 12px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
}
.top-logo2f a{
	display: block;
}
#click_menu{
	background-color: #f15c22;
	right: 0;
	top: 0;
	z-index: 99999;
	position: absolute;
	width: 72px;
	height: 74px;
	padding: 22px 15px;
}
.popup-menu2f{
	background-color:rgba(241, 92, 34, 0.95);
	position: absolute;
	z-index: 9999;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	padding: 40px 0;
	display: none;
}
/* Icon 1 */

#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
	width: 43px;
	height: 30px;
  position: relative;
  margin:0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 11px;
}

#nav-icon1 span:nth-child(3) {
  top: 23px;
}

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.menu-top-lang2f{
}
.menu-top-list2f ul{
	list-style: none;
}
.box-list-cate2f ul li strong{
	font-size: 24px;
	color: #fff;
	border-bottom: 2px solid #fff;
	display: block;
}
.menu-top-list2f  > ul {
    display: flex;
    flex-wrap: wrap;
}
.menu-top-list2f ul li a{
	color: #fff;
	font-size: 22px;
	line-height: 24px;
}
.menu-top-list2f .box-list-cate2f > ul{
	margin-bottom: 15px;
}
.menu-top-list2f > ul > li{
	width: 25%;
	float: left;
}
.menu-top-lang2f ul li,.menu-top-lang2f ul li a{
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}
.menu-top-lang2f ul li a:hover{
	color: #000;
}
.box-list-cate2f ul li a{
	padding-left: 25px;
	background-repeat: no-repeat;
	background-position: left 7px;
	background-image: url(../images/arrow-right02.png);
	background-size: 13px;
	display: block;
	padding-right: 30px;
}
.box-list-cate2f ul li  a:hover{

	background-image: url(../images/arrow-right02-black.png);
	background-size: 13px;
	color: #000;
}

.menu-top-search2f label{
	display: none;
}
.menu-top-search2f .form-control{
	border: none;
	font-size: 22px;
	color: #fff;
	line-height: 22px;
	background-color: transparent;
}
.menu-top-search2f{
	border-bottom: 1px solid #fbb987;
	width: 300px;
	position: relative;
	float: left;
}
.menu-top-search2f img{
	height: 20px;
}
.menu-top-search2f button{
	position: absolute;
    bottom: 0;
    right: 0;
    background: none;
    border: none;
}
.control-top-menu2f{
	float: right;
	width: 400px;
	margin-bottom: 50px;
}
.menu-top-list2f{
	clear: right;
}
.menu-top-lang2f{
	float: left;
	margin-left: 15px;
}
.navication2f{
	border-bottom:1px solid #eeeeee;
	padding:10px 0 8px 0;
	margin-bottom:30px;
	}
.navication2f .breadcrumb {
		padding: 0;
		margin-bottom: 0;
		list-style: none;
		background:none;
		border-radius: 0;
		font-size:18px;
    line-height: 18px;
	}
.navication2f .breadcrumb > .active {
    color:#ff7c1c;
	}
.navication2f .breadcrumb a{
	color:#8c8b8b;
	}
.navication2f .breadcrumb a:hover{
	color:#ff7c1c;
	}
.navication2f .breadcrumb > li + li:before {
    padding: 0 5px;
    color: #8c8b8b;
    content: ">\00a0";
	}
	.header-insite-top01{
	  background-color: #b1510a;
	  padding: 8px 0;
	  color: #fff;
	  font-size: 13px;
	  font-family: arial,tahoma;
	}
	.insite-top01,.insite-top02{
	  float: left;
	}
	.insite-top2f{
		float: right;
		position: relative;
		z-index: 9999999;
	}
	.insite-top02 ul{
	  display: inline-block;
	  list-style: none;
	}
	.insite-top01{
	  padding-right: 15px;
	  margin-right: 15px;
	  background-repeat: no-repeat;
	  background-position: right center;
	  background-image:url(../images/top-border.jpg);
	}
	.insite-top01 ul li a,
	.insite-top02 ul li a{
	  color: #fff;
	  background-repeat: no-repeat;
	  background-position: left top;
	  display: inline-block;
	  height: 16px;
	  background-size: auto 16px;
	      font-family: 'DBHeaventv3_2';
    font-size: 18px;
	}
	.insite-top01 ul li a:hover,
	.insite-top02 ul li a:hover{
		color: #ff9800;
	}
	.insite-top01 ul li a.i-contact{
	  background-image:url(../images/i-contact.png);
	  width: 14px;
	}
	.insite-top01 ul li a.i-contact:hover{
	  background-image:url(../images/i-contact-hover.png);
	}
	.insite-top01 ul li a.i-mail{
	  background-image:url(../images/i-mail.png);
	  width: 16px;
	}
	.insite-top01 ul li a.i-mail:hover{
	  background-image:url(../images/i-mail-hover.png);
	}
	.language2f span{
	  margin-right: 10px;
	}
	.language2f img{
	  position: relative;
	  top:2px;
	}
	.language2f{
	  margin-right: 10px;
	}
	.insite-top02 ul li a.i-share{
	  background-image:url(../images/i-share.png);
	  width: 16px;
	}
	.insite-top02 ul li a.i-share:hover{
	  background-image:url(../images/i-share-hover.png);
	}
	.insite-top02 ul li a.i-search{
	  background-image:url(../images/search-white.png);
	  width: 16px;
	}
	.insite-top02 ul li a.i-search:hover{
	  background-image:url(../images/search-black.png);
	}
	.insite-top2f .list-inline > li {
	    display: inline-block;
	    padding-right: 7px;
	    padding-left: 7px;
	}
	.dropdown_menu2f.menu_fullscreen {
	    display: none;
	}
	.dropdown_menu2f {
	    width: 100%;
	    background-color: #000;
	    padding: 160px 0 50px 0;
	    position: fixed;
	    z-index: 100;
	    display: none;
	}
	.menu_level2f ul.menulevel02,
	.menu_level2f ul.menulevel01 {
	    display: flex;
	    flex-wrap: wrap;
	}
	.menu_level2f ul.menulevel01 > li {
	    width: 25%;
	    list-style: none;
	    float: left;
	    font-size: 25px;
	    line-height: 25px;
	    padding-right: 15px;
	    margin-bottom: 30px;
	}
	.menu_level2f ul.menulevel01 > li > a,
	.menu_level2f ul.menulevel02 > li > a {
	    color: #fff;
	    display: block;
	}
	.menu_level2f ul.menulevel01 > li > a {
	    margin-bottom: 10px;
	}
	.menu_level2f ul.menulevel02 > li {
	  list-style: none;
	  width: 33%;
	  display: inline-block;
	  padding-right: 20px;
	  margin-bottom: 20px;
	}
	.menu_level2f ul.menulevel02 > li > a {
	  font-size: 23px;
	  line-height: 22px;
	  color: #ff7c1c;
	  display: block;
	  margin-bottom: 10px;
	  border-bottom: 2px solid #ff7c1c;
	  padding-bottom: 5px;
	}
	.third-megamenu{
		margin-bottom: 5px;
		list-style: none;
	}
	.menu_level2f ul.menulevel02 > li > a:hover{
	  color: #ff7c1c;
	}
	.menu-top-list2f ul.third-megamenu li a{
		font-size: 20px;
		display: block;
		padding-left: 40px;
		line-height: 18px;
		margin-top: 5px;
		background-repeat: no-repeat;
		background-position: 28px 4px;
		background-image: url(../images/play-button.png);
		background-size: 8px;
		padding-right: 30px;
	}
	.menu-top-list2f ul.third-megamenu li a:hover{
		color: #000;
		background-image: url(../images/play-button-black.png);

	}
	#menu2f .third-megamenu li a,
	.dropdown_menu2f.menu_fullscreen .third-megamenu li a{
		    font-size: 20px;
		    line-height: 18px;
		    color: #fff;
		    display: block;
	}
	#menu2f .third-megamenu li a:hover,
	.dropdown_menu2f.menu_fullscreen .third-megamenu li a:hover{
			color: #ff7c1c;

	}
	#menu2f .navbar {
	  position: relative;
	  min-height:inherit;
	  margin-bottom: 0px;
	  border:none;
	  padding: 5px 0 5px 0;
	}
	#menu2f .container-fluid,
	#menu2f .navbar-collapse{
		padding:0;
		}
	#menu2f .nav > li > a {
    position: relative;
    font-size: 20px;
    color: #fff;
    padding: 10px 5px;
		}
	#menu2f .navbar-nav > li > a:hover,
	#menu2f .navbar-nav > li.active > a{
		color:#000;
		}
	#menu2f .navbar-default .navbar-nav > .active > a,
	#menu2f .navbar-default .navbar-nav > .active > a:hover,
	#menu2f .navbar-default .navbar-nav > .active > a:focus {
	  background-color:transparent;
		}
	#menu2f .navbar-default {
		background-color:transparent;
		}
	#menu2f .dropdown img{
		width: 20px;
		}
	#menu2f .navbar-brand{
		padding: 0 15px;
	  height: auto;
	  line-height: 0;
		padding-bottom: 5px;
	}
	.header-insite-top02{
	  background-color: #ff7c1c;
	}
	#menu2f .navbar-nav{
	  padding-top: 25px;
	}
	#menu2f .navbar-brand > img{
	  max-height: 85px;
	}
	/* css menumobile*/
	#menu2f .navbar-default .navbar-toggle{
	  border: none;
	  margin-top:5px;
	  margin-right: 15px;
	  margin-bottom: 0;
	      z-index: 999999;
		}
	#menu2f .navbar-default .navbar-toggle:hover,
	#menu2f .navbar-default .navbar-toggle:focus{
		background-color:transparent;
		}
	#menu2f .navbar-toggle .icon-bar{
	  width: 37px;
	  height: 4px;
	  margin-top: 4px;
		}
	#menu2f .navbar-default .navbar-toggle .icon-bar {
	  background-color: #fff;
		}
	#menu2f .navbar-toggle .icon-bar{
		border-radius:0;
		}
	#menu2f .navbar-brand > img.logo-desktop{ display: inline-block;}
	#menu2f .navbar-brand > img.logo-mobile{ display: none;}
	#menu2f .navbar-collapse.in {
	    overflow-y: hidden;
	}
.content-sitemap2f{
    position:absolute;
    width: 100%;
    height: auto;
    z-index: 99999;
    background-color: rgba(0,0,0,0.9);
    margin-top: 0;
    padding-top: 50px;
    top: 0;
    min-height: 100%;
	}
.box-listsitemap2f ul{
	list-style-position:outside;
	}
.box-listsitemap2f ul li{
	display:block;
	}
.list-cate-sitemap2f > ul > li{
	width:25%;
	float:left;
	padding-right:30px;
	    list-style: none;
	}
.list-cate-sitemap2f ul li a{
	font-size:22px;
	color:#fff;
	}
.list-cate-sitemap2f ul li a:hover{
	color:#ff7f00;
	}
.list-cate-sitemap2f  .box-listsitemap2f{
	margin-bottom:50px;
	min-height:240px;
	}
.list-cate-sitemap2f ul > li> .box-listsitemap2f > a,
.list-cate-sitemap2f ul > li> .box-listsitemap2f > span{
	color:#f15c22;
	font-size:24px;
	display:block;
	border-bottom: 2px solid #f15c22;
    margin-bottom: 15px;
	}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > ul{
	margin:5px 0 5px 0px;
	}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > ul > li > a{
	font-size:18px;
    background-size: 4px;
    font-size: 19px;

	}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > ul.dropdown_level03 > li a{
	padding-left: 15px;
	    background-repeat: no-repeat;
    background-position: 0 7px;
    background-image: url(../images/play-button.png);
    background-size: 8px;
}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > ul.dropdown_level03 > li:hover > a{
	background-image: url(../images/play-button-org.png);
	}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > a{
	padding-left:0;
	line-height:22px;
	display: block;
	}
.list-cate-sitemap2f  .box-listsitemap2f ul > li > a:hover{
	/*    background-repeat: no-repeat;
    background-position: left 6px;
    background-image: url(../images/arrow-right02.png);
    background-size: 13px;*/
}
.i-close{
	position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
	}
.list-cate-sitemap2f > ul{
	 display: flex;
    flex-wrap: wrap;
	}
.header-insite2f{
    position: fixed;
    width: 100%;
    z-index: 9999;
	max-width: 1920px;
}
.insite-content2f{
	padding-top: 135px;
}
.dropdown_menu2f.menu_fullscreen .third-megamenu li a{
	background-repeat: no-repeat;
	background-position:0  6px;
	background-image: url(../images/play-button.png);
	background-size: 8px;
	padding-left: 15px;
}
.dropdown_menu2f.menu_fullscreen .third-megamenu li a:hover{
	background-image: url(../images/play-button-org.png);
}
.symbol-div{
	    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.symbol-div > img,.header-insite2f > img{
	max-height: 90px;
}

.box-list-cate2f .third-megamenu {
	display: none;
}

.headlevel {
	cursor: pointer;
	padding-right: 30px;
	margin-bottom: 8px;
}
.black-ribbon {
  position: fixed;
  z-index: 999999;
  width: 70px;
}
.popup-menu2f .container{
	position: relative;
}
.top-right2f{
	position:absolute;
	left: 15px;
}
.top-right2f > strong{
	color: #000;
	font-size: 30px;
	line-height: 30px;
}
.top-right2f > span,.top-right2f > strong{
	display: inline-block;
	margin-right: 5px;
}
.top-right2f .login2f,.top-right2f{
	font-size: 20px;
	color: #fff;
}
.top-right2f .login2f:hover{
	text-decoration: underline;
}
.top-right2f .login2f img{
	    margin-right: 5px;
}
.top-right2f .logout2f{
	color: #fff;
	    font-style: italic;
	    line-height: 20px;
	    display: inline-block;
	    text-decoration: underline;
}
.top-right2f .logout2f:hover{
	color: #000;
}
.insite-login2f {
    background-size: auto 16px;
    font-family: 'DBHeaventv3_2';
    font-size: 18px;
    line-height: 18px;
    position: relative;
    top: 0;
    display: inline-block;
}
.insite-login2f span,
.insite-login2f strong{
	display: inline-block;
	margin-right: 5px;
}
.insite-login2f strong{
	    color: #000;
}
.insite-login2f .logout2f{
	background-color: #464646;
	padding: 2px 10px;
	height: auto;
	border-radius: 4px;
	font-size: 17px;
	color: #ff7c1c;
}
.insite-login2f .logout2f:hover{
	color: #fff;
}
.i-login img{
	height: 16px;
	position: relative;
	top: 3px;
}
body span.pagedown{
  position: fixed;
  z-index: 9999;
  left: 50%;
  bottom: 10px;
	margin-left: -20px;
	opacity: 0;
  }
body span.pagedown img{
	width: 40px;
}
body:hover span.pagedown{
	opacity: 0.6;
}
@media only all and (min-width: 768px) {
  .black-ribbon {
    width: auto;
  }
}
.stick-left { left: 0; }
.stick-right { right: 0; }
.stick-top { top: 0; }
.stick-bottom { bottom: 0; }

.admin-bar .stick-top { top: 46px; }
@media screen and (min-width: 783px) {
  .admin-bar .stick-top { top: 32px; }}
}
